body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-color: #f0f0f0; */
  /* Just to make the navBar stand out */
}

.page {
  height: 100vh;
  background-image: url('./Design/Assets/mainBackground.jpg');
  /* background: red; */
  /* Replace with your image path */
  background-size: cover;
  /* Ensures the image covers the entire screen */
  background-position: center;
  /* Centers the image */
  background-attachment: fixed;
  /* Makes the background fixed during scrolling */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
}

p {
  margin: 0px;
  padding: 0px;
  margin-bottom: 0px !important;
}

.navBar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background-color: #dadae1;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  z-index: 1000;
}

.navBar-item {
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 15%;
  padding: 10px;
  cursor: pointer;
}

.navBar-item img {
  width: 30px;
  height: 30px;
}

.navBar-item.active img {
  width: 30px;
  height: 29px;
  filter: brightness(0) invert(1);
}

.navBar-item.active {
  background: linear-gradient(45deg, #635bee, #af5ff4);
}

/* 
.navBar-item:hover img {
  filter: brightness(0.95);
  cursor: pointer;
} */

.initial h1 {
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(45deg, #635bee, #af5ff4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.initial .btn {
  font-weight: 600;
  background: linear-gradient(45deg, #635bee, #af5ff4) !important;
  outline: none;
  border: #635bee;
}

.btn2 {
  font-weight: 600;
  background: linear-gradient(45deg, #635bee, #af5ff4) !important;
  outline: none;
  border: #635bee;
  color: #ffffff !important;
}

.initial h1 {
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(45deg, #635bee, #af5ff4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.initial h2 {
  font-weight: 300;
  color: #635bee;
}

.primary-clr {
  color: #635bee;
}

.card-height {
  height: 250px;
  /* Set a fixed height for all cards */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-height img {
  max-width: 100px;
  max-height: 100px;
}

.card-height h4 {
  margin-top: 10px;
}

.page-title {
  font-weight: 200;
}



.create-chatbot label {
  font-weight: 500;
  color: #3731a5;
  margin-bottom: 5px;

}

.create-chatbot textarea {
  box-shadow: 0px 0px 5px #1e1c423f;
  border-radius: 10px;
  margin-bottom: 20px;
}

.chat-window {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  height: 400px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.user-message {
  background-color: #e0f7fa;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.bot-message {
  background-color: #fce4ec;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.input-group {
  width: 100%;
}

/* src/Chatbot.css */

.chatbot-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
}

.chatbot-toggle {
  background-color: none;
  border: none;
  border-radius: 50%;
  padding: 3px;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.chatbot-toggle:hover {
  background-color: none;
  transform: scale(1.1);
}

.chatbot {
  width: 400px;
  height: 600px;
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.chatbot-header {
  background-color: #007bff;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-bottom: 25px;
}

.chatbot-header h4 {
  margin: 0;
}

.chatbot-header button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.chatbot-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  /* background-color: #f9f9f9; */
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.popup .chatbot-message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  word-wrap: break-word;
  color: #0b58aa;
}

.chatbot-message.user {
  background-color: #0b58aa;
  color: white;
  align-self: flex-end;
  text-align: right;
  margin-left: auto;
  padding: 8px 15px;
  border-radius: 10px 10px 0px 10px;
}

.popup .chatbot-message.bot,
.chatbot-message.man {
  /* background-color: #e0e0e0; */
  color: #0b58aa !important;
  align-self: flex-start;
  text-align: left;
  margin-right: auto;
}

.popup .assistant {
  display: flex;
  justify-content: start;

}

.chatbot-input {
  display: flex;
  padding: 10px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  /* border-top: 1px solid #ddd; */
}

.chatbot-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 10px;
  outline: none;
  transition: border-color 0.3s;
}

.chatbot-input input:focus {
  border-color: #007bff;
}

.chatbot-input button {
  background-color: #0b58aa;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chatbot-input button:hover {
  background-color: #0056b3;
}

/* ChatList.css */

/* ChatList.css */

.nav-pills .nav-link.active {
  background: linear-gradient(45deg, #635bee, #af5ff4);
  color: #ffffff !important;
}

.nav-pills .nav-link {
  /* background: linear-gradient(45deg, #635bee, #af5ff4); */
  color: #635bee !important;
  border: 1px solid #635bee;
  margin-bottom: 8px
}

.chat-container {
  padding: 10px 20px;
  background: #c0c0c01f;
  border-radius: 20px;
  margin-bottom: 10px
}

.chat-messages {
  list-style: none;
  padding: 0;
}

.message-container {
  display: flex;
  margin-bottom: 10px;
}

.message-container.user {
  justify-content: flex-start;
}

.message-container.bot,
.message-container.man {
  justify-content: flex-end;
}

.message {
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
  word-wrap: break-word;
}

.message.user {
  background-color: #ffffff;
  display: flex;
  justify-content: start;
  padding: 10px 15px;
  /* border: 1px solid #90f58b;
  box-shadow: 2px 2px 10px #90f58bc5;
  color: #1e3c4d */
  color: #40ae33
}

.message.assistant {
  background-color: #ffffff;
  display: flex;
  justify-content: start;
  padding: 10px 15px;
  /* border: 1px solid #6cacf094;
  box-shadow: 2px 2px 10px #2b90fc6b; */
  color: #0b58aa
    /* color: #1e3c4d */
}

.assistant,
.man {
  display: flex;
  justify-content: end;

}

.user {
  display: flex;
  justify-content: start;

}

.message.bot {
  display: flex;
  justify-content: end;
  background-color: #f8d7da;
}

.scrollable-container {
  height: 45vh;
  /* Adjust this height as needed */
  overflow-y: auto;
  padding-right: 15px;
  scrollbar-width: thin;
  /* Optional: To avoid content getting cut off */
}

.scrollable-container::-webkit-scrollbar {
  width: 6px;
  /* Change the width here */
}

.scrollable-container::-webkit-scrollbar-track {
  background: #0b58aa;
  /* Background color of the scrollbar track */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #0b58aa;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Roundness of the scrollbar thumb */
  border: 3px solid #0b58aa;
  /* Adds a border around the scrollbar thumb */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color when hovered */
}

.control,
.control:hover {
  background-color: #40ae33;
  color: #ffffff;
  margin-right: 20px;
}

.chats .form-control {
  margin-right: 20px;
  width: 72% !important;
}

.customCard {
  box-shadow: 0px 0px 5px #343a403f !important;
}

.customCard:hover {
  box-shadow: 0px 0px 8px #343a403f !important;
  cursor: pointer;
}

/* App.css */
.scrollable-tabs {
  max-height: 500px;
  /* Adjust based on your layout */
  overflow-y: auto;
}

.scrollable-tabs .nav-pills {
  display: flex;
  flex-direction: column;
}

.scrollable-tabs .nav-item {
  margin-bottom: 5px;
  /* Adjust spacing between tabs */
}